<header id="topbar" class="site-topbar" role="banner">
<nav class="navbar navbar-default" role="navigation">
    <div class='navbar-header'>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://{{ config['HOSTNAME'] }}">美女派</a>
    </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="{{ url_for('top') }}">美女排行榜</a></li>
      <li><a href="{{ url_for('tag_index') }}">标签</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href='#' onclick='function AddFavorite(sURL,sTitle){try{window.external.addFavorite(sURL,sTitle)}catch(e){try{window.sidebar.addPanel(sTitle,sURL,"")}catch(e){alert("加入收藏失败，请使用Ctrl+D进行添加")}}};AddFavorite(window.location, document.title);'>加入收藏</a></li>
      <li><a href='#' onclick="function SetHome(obj,vrl){try{obj.style.behavior='url(#default#homepage)';obj.setHomePage(vrl)}catch(e){if(window.netscape){try{netscape.security.PrivilegeManager.enablePrivilege('UniversalXPConnect')}catch(e){alert('此操作被浏览器拒绝！\n请在浏览器地址栏输入“about:config”并回车\n然后将 [signed.applets.codebase_principal_support]的值设置为'true',双击即可。')};var prefs=Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);prefs.setCharPref('browser.startup.homepage',vrl)}}}; SetHome(this, window.location');">设为首页</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</header>
