{% extends "layout.html" %}

{% block title %} 美女大作战|美女PK 美女派-美女图片网{% endblock %}

{% block main %}
<div class='text-center'>
    <p>喜欢哪个点哪个</p>
</div>


<script>var pic_ids = [{{pics[0].id}}, {{pics[1].id}}];</script>
<div class='center-block'>
{% for pic in pics %}
<div class='pk-block text-center'>
    <a href="{{ url_for('bundle_detail', bundle_id=pic.bundle_id, page=1) }}" target="_blank">(相册：{{ pic.bundle.rating }} 分){{ pic.bundle.name }}</a>
    <br />
    图片得分：{{ pic.rating }} 分
    <a href="javascript:void(0)">
    <img data-id='{{ pic.id }}' src='/images/{{ pic.hash }}' class='img-responsive'/>
    </a>
</div>
{% endfor %}
</div>
<div class='clearfix'></div>
{% endblock %}
